# Local development (Physical phone via Expo Go / Local Web)
# Replace with your local machine LAN IP or localhost
EXPO_PUBLIC_API_URL=http://192.168.0.111:3001/api/v1

# Production (Vercel Environment Variables)
# EXPO_PUBLIC_API_URL=https://your-public-backend-api.com/api/v1
